/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    width: 80%;
    margin-left: 1%;

    
}
h1{
    margin-left: -10%;
}
/* Video Styles */
.video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1; 
}

/* Header Styles */

.container h1 {
    position: fixed;
    margin-left: -2%;
    color: rgb(67, 65, 65);
    font-size: 70px;
    -webkit-text-stroke: 2px black;
}


menu{
    position: fixed;
    width: 400px;
    float: right;
    height: 80px;
}

ul{
    float: right;
    display: flex;
    justify-content: right;
    align-items: right;
}

ul li{
    list-style: none;
    margin-left: 30px;
    margin-top: 40%px;
    font-size: 40px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}


/* Search bar */
.search {
    display: flex;
    float: right;
    align-items: right;
    margin-top: 10%px;
    justify-content: right;
    width: 100%;
    
    
    
}

.srch {
    background: transparent;
    border: 3px solid black;
    color: whitesmoke;
    font-size: 20px;
   
    
}

.btn {
    background: transparent;
    border: 3px solid black;
    color: whitesmoke;
    font-size: 30px;
}

/* Content Styles */
.content {
    position: fixed;
    z-index: 2;
    color: #fff;
    text-align: center;
    margin-top: 50vh;
}


.content h2 {
    font-family: 'Times New Roman';
    font-size: 50px;
    letter-spacing: 2px;
}
/* Content Display Section */


/* Scrolling Section */
.scrolling-section {
    position: fixed;
    margin-top: 40%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 2; /* Ensures scrolling section is above the video */
   /* Adjust the top margin to place it above content */
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Scrolling Container */
.scrolling-container {
    height: 200px;
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
    scrollbar-width: thin; /* For Firefox */
}

.scrolling-container::-webkit-scrollbar {
    height: 8px;
}

.scrolling-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
}

.scrolling-item {
    min-width: 350px;
    height: 350px;
    background-color: #333;
    color: white;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 10px;
}
.movie-image {
    width: 100%;
    height: 100%;
    position: relative;
     /* Ensures the image doesn't overflow */
    border-radius: 5px;
    object-fit: cover;
}

/* Hover effect for scrolling items */
.scrolling-item:hover {
    background-color: #555;
}
